go 1.26.0

use (
	./apps/agente-ofertas
	./apps/gateway-whatsapp
	./apps/ofertas-api
	./apps/ofertas-scraper
	./apps/ofertas-scraper-v2
	./modules/ofertas-store
)

replace github.com/Arthur-Bamberg/orquestrador-ofertas-supermercados/modules/ofertas-store v0.0.0 => ./modules/ofertas-store
